code_syntax_highlight = "{{ .colors.name }}"

# ========= Border =========
file_panel_border = "{{ .colors.bright_black }}"
sidebar_border = "{{ .colors.base00 }}"
footer_border = "{{ .colors.bright_black }}"

# ========= Border Active =========
file_panel_border_active = "{{ .colors.bright_magenta }}"
sidebar_border_active = "{{ .colors.red }}"
footer_border_active = "{{ .colors.cyan }}"
modal_border_active = "{{ .colors.cyan }}"

# ========= Background (bg) =========
full_screen_bg = "{{ .colors.background }}"
file_panel_bg = "{{ .colors.background }}"
sidebar_bg = "{{ .colors.background }}"
footer_bg = "{{ .colors.background }}"
modal_bg = "{{ .colors.background }}"

# ========= Foreground (fg) =========
full_screen_fg = "{{ .colors.white }}"
file_panel_fg = "{{ .colors.white }}"
sidebar_fg = "{{ .colors.white }}"
footer_fg = "{{ .colors.white }}"
modal_fg = "{{ .colors.white }}"

# ========= Special Color =========
cursor = "{{ .colors.extended_16 }}"
correct = "{{ .colors.green }}"
error = "{{ .colors.red }}"
hint = "{{ .colors.cyan }}"
cancel = "{{ .colors.extended_16 }}"
gradient_color = ["{{ .colors.blue }}", "{{ .colors.magenta }}"]

# ========= File Panel Special Items =========
file_panel_top_directory_icon = "{{ .colors.cyan }}"
file_panel_top_path = "{{ .colors.blue }}"
file_panel_item_selected_fg = "{{ .colors.base0D }}"
file_panel_item_selected_bg = "{{ .colors.background }}"

# ========= Sidebar Special Items =========
sidebar_title = "{{ .colors.cyan }}"
sidebar_item_selected_fg = "{{ .colors.cyan }}"
sidebar_item_selected_bg = "{{ .colors.background }}"
sidebar_divider = "{{ .colors.base03 }}"

# ========= Modal Special Items =========
modal_cancel_fg = "{{ .colors.base00 }}"
modal_cancel_bg = "{{ .colors.yellow }}"

modal_confirm_fg = "{{ .colors.base00 }}"
modal_confirm_bg = "{{ .colors.green }}"

# ========= Help Menu =========
help_menu_hotkey = "{{ .colors.cyan }}"
help_menu_title = "{{ .colors.cyan }}"
