[Unit]
Description=Onedrive
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/onedrive --skip-dir '/Notebooks|Shad @ Work' --monitor

[Install]
WantedBy=default.target
