#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "fedora" -}}
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

{{ range .flatpak.fedora -}}
flatpak install --noninteractive --assumeyes --user {{ . }}
{{ end -}}
{{ end -}}
