#!/usr/bin/env bash

{{ .scripts.functions -}}

{{ if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos") -}}
sudo pacman -Syy >/dev/null

{{ range .packages.common -}}
pac_install {{ . }}
{{ end -}}

{{ range .aur.common -}}
yay_install {{ . }}
{{ end -}}

{{ if .isPersonal -}}
{{ range .packages.personal -}}
pac_install {{ . }}
{{ end -}}
{{ end -}}

{{ if not .isPersonal -}}
{{ range .packages.work -}}
pac_install {{ . }}
{{ end -}}

{{ range .aur.work -}}
yay_install {{ . }}
{{ end -}}
{{ end -}}

{{ end -}}
