#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "fedora" }}
echo "Installing Fedora Prereqs ..."
{{ else if eq .chezmoi.osRelease.id "arch" }}
echo "Installing Arch PreReqs ..."

if ! command -v yay >/dev/null 2>&1; then
  local sourceDir="$HOME/Code/sources"

  sudo pacman -S --needed git base-devel

  mkdir -p "$sourceDir"
  cd "$sourceDir"

  git clone https://aur.archlinux.org/yay-bin.git

  cd "$sourceDir"/yay-bin

  makepkg -si
fi
{{ end -}}
