#!/usr/bin/env bash

{{ if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos") -}}

{{ .scripts.functions -}}

{{ range .hyprland.common -}}
pac_install {{ . }}
{{ end -}}

{{- range .hyprland.aur }}
yay_install {{ . }}
{{ end -}}

{{- end }}
