#!/usr/bin/env bash

{{ if and (.hasHyprland) (eq .chezmoi.osRelease.id "arch") -}}

{{ .scripts.functions -}}

{{ range .hyprland.common -}}
pac_install {{ . }}
{{ end -}}

{{- range .hyprland.aur }}
yay_install {{ . }}
{{ end -}}

{{- end }}
