#!/usr/bin/env bash
{{- if eq .chezmoi.osRelease.id "fedora" }}

if ! command -v cargo >/dev/null 2>&1; then
  sudo dnf install --assumeyes rustup cargo
fi

sudo dnf install --assumeyes openssl openssl-devel

{{ range .cargo.fedora -}}
cargo install {{ . }}
{{ end -}}

# Copy chezmoi_modify_manager to bin so it's in the path for deploy
cp "$HOME/.cargo/bin/chezmoi_modify_manager" "$HOME/bin"

# Install yazi plugins
~/.cargo/bin/ya pkg install
{{ end -}}

{{- if eq .chezmoi.osRelease.id "arch" }}
ya pkg install
{{ end -}}
