#!/bin/bash

FONTLOCATION="$HOME/.local/share/fonts"
mkdir "$FONTLOCATION" >/dev/null 2>&1

NEWFONT=""

fonts_list=("FiraCode" "Hack" "JetBrainsMono")
for font in "${fonts_list[@]}"; do
  FONCOUNT="$(find "$FONTLOCATION" -type f -name "$font*" | wc -l)"

  if ((FONCOUNT == 0)); then
    echo "Downloading $font Nerd Font ..."
    ZIPNAME="$font.zip"
    ZIPPATH="$HOME/Downloads/$ZIPNAME"
    URL="https://github.com/ryanoasis/nerd-fonts/releases/latest/download/$ZIPNAME"

    wget --quiet -O "$ZIPPATH" "$URL" >/dev/null

    unzip -o "$ZIPPATH" -d "$FONTLOCATION" >/dev/null

    # Clean up
    rm -f "$ZIPPATH" >/dev/null 2>&1

    NEWFONT="yes"
  fi
done

if [[ "$NEWFONT" == "yes" ]]; then
  echo "Updating font cache ..."
  fc-cache -f >/dev/null
fi
