#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "arch" -}}

{{ .scripts.functions -}}

if ! command -v docker >/dev/null 2>&1; then
  sudo pacman -S --noconfirm --needed docker docker-compose
  # Add User to docker group
  sudo usermod -aG docker $USER
  # Enable Docker Systemd Socket
  sudo systemctl enable docker
fi
{{ end -}}
