#!/usr/bin/env bash

{{ if or (eq (index .chezmoi.osRelease "id") "arch") (eq (index .chezmoi.osRelease "id") "cachyos") -}}
{{ .scripts.functions -}}

yay_install kanata-bin

if getent group uinput >/dev/null; then
  sudo groupdel uinput
fi

sudo groupadd --system uinput

sudo usermod -aG input,uinput {{ .chezmoi.username }}

echo 'KERNEL=="uinput", MODE="0660", GROUP="uinput", OPTIONS+="static_node=uinput"' | sudo tee /etc/udev/rules.d/00-kanata-uinput.rules >/dev/null 2>&1

sudo udevadm control --reload-rules && sudo udevadm trigger

sudo modprobe uinput
{{ end -}}
