#!/usr/bin/env bash

{{ if .hasHyprland -}}

{{ .scripts.functions -}}

{{ range .hyprland.common -}}
pac_install {{ . }}
{{ end -}}

{{- range .hyprland.aur }}
yay_install {{ . }}
{{ end -}}

{{- end }}
