#!/usr/bin/env bash

if ! command -v nvim >/dev/null 2>&1; then
  {{ if eq .chezmoi.osRelease.id "arch" -}}
  sudo pacman -S --noconfirm --needed neovim wl-clipboard python-pynvim \
    npm luarocks
  {{- else -}}
  sudo dnf install --assumeyes neovim nodejs nodejs-npm python3-neovim luarocks
  {{- end }}
fi
