#!/usr/bin/env bash
{{- if eq .chezmoi.osRelease.id "fedora" }}

if ! command -v cargo >/dev/null 2>&1; then
  sudo dnf install --assumeyes rustup cargo
fi

sudo dnf install --assumeyes openssl openssl-devel

{{ range .cargo.fedora -}}
cargo install {{ . }}
{{ end -}}
{{ end -}}

# Install yazi plugins
~/.cargo/bin/ya pkg install
