#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "arch" -}}

{{ .scripts.functions }}

if ! command -v nvim >/dev/null 2>&1; then
  {{ range .packages.neovim -}}
  pac_install {{ . }}
  {{ end }}
fi

{{- end }}
