#!/usr/bin/env bash

{{ if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos") -}}
{{ .scripts.functions -}}

pac_install firewalld

sudo systemctl enable --now firewalld.service

{{ end -}}
