#!/usr/bin/env bash

{{ .scripts.functions -}}

{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Syy >/dev/null

{{ range .packages.common -}}
pac_install {{ . }}
{{ end -}}

{{ range .aur.common -}}
yay_install {{ . }}
{{ end -}}

{{ if eq .chezmoi.username "kaskshad" -}}
{{ range .packages.work -}}
pac_install {{ . }}
{{ end -}}

{{ range .aur.work -}}
yay_install {{ . }}
{{ end -}}
{{ end -}}

{{ end -}}
