#!/usr/bin/env bash

TPM_DIR="$HOME/.tmux/plugins/tpm"
CHANGED=""

enable_docker() {
  if command -v docker >/dev/null 2>&1; then
    # Add User to docker group
    sudo usermod -aG docker $USER
    sudo systemctl enable docker
    CHANGED="docker"
  fi
}

set_shell() {
  if [ "$SHELL" != "/bin/zsh" ]; then
    sudo usermod --shell /bin/zsh "$USER" >/dev/null
    CHANGED="shell"
  fi
}

install_tpm() {
  mkdir -p ~/.tmux/plugins/ >/dev/null
  git clone https://github.com/tmux-plugins/tpm "$TPM_DIR" >/dev/null
  "$TPM_DIR/scripts/install_plugins.sh"
  CHANGED="tpm"
}

enable_kanata() {
  if [[ $(systemctl --user is-enabled kanata.service) != "enabled" ]]; then
    # Enable User Services
    systemctl --user daemon-reload
    systemctl --user --now enable kanata.service
    CHANGED="kanata"
  fi
}

main() {
  # Remove temporary bin directory if it exists
  if [ -d "$HOME/bin" ]; then
    rm -rf "${HOME:?}/bin" >/dev/null 2>&1
  fi

  # Enabled kanata if  it is not
  enable_kanata

  # Enable Docker
  enable_docker

  # Install Tmux Plugins
  if [ ! -d "$TPM_DIR" ]; then
    install_tpm
  fi

  if [ ! -d "$HOME/.config/yazi/plugins" ]; then
    ya pkg install
  fi

  # Export our ssh if bw is available and our key does not already exist
  if [[ ! -f "$HOME/.ssh/id_ed25519" ]]; then
    echo "Install SSH Private Key from Bitwarden"
  fi

  set_shell

  if [ ! -z "$CHANGED" ]; then
    echo "Installation complete ... restart recommended"
  fi
}

main "$@"
