[user]
name = Shad Kaske
email = shadkaske@gmail.com
[core]
editor = code --wait
[merge]
tool = vscode
[diff]
tool = vscode
[mergetool]
keepBackup = false
prompt = false
[mergetool "vscode"]
cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[pull]
rebase = false
[init]
defaultBranch = main
