[user]
name = Shad Kaske
email = shadkaske@gmail.com
[core]
editor = nvim
[merge]
tool = nvim
[diff]
tool = nvim
[mergetool]
keepBackup = false
prompt = false
[mergetool "vscode"]
cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[difftool "nvimdiff"]
cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvim"]
cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[difftool "nvimdiff"]
cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvim"]
cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[pull]
rebase = false
[init]
defaultBranch = main
[protocol "file"]
allow = always
