palette = 0={{ .colors.black }}
palette = 1={{ .colors.red }}
palette = 2={{ .colors.green }}
palette = 3={{ .colors.yellow }}
palette = 4={{ .colors.blue }}
palette = 5={{ .colors.magenta }}
palette = 6={{ .colors.cyan }}
palette = 7={{ .colors.bright_white }}
palette = 8={{ .colors.bright_black }}
palette = 9={{ .colors.bright_red }}
palette = 10={{ .colors.bright_green }}
palette = 11={{ .colors.bright_yellow }}
palette = 12={{ .colors.bright_blue }}
palette = 13={{ .colors.bright_magenta }}
palette = 14={{ .colors.bright_cyan }}
palette = 15={{ .colors.white }}

background = {{ .colors.background | trimPrefix "#" }}
foreground = {{ .colors.foreground | trimPrefix "#" }}
cursor-color = {{ .colors.base06 | trimPrefix "#" }}
cursor-text = {{ .colors.base01 | trimPrefix "#" }}
selection-background = {{ .colors.base02 | trimPrefix "#" }}
selection-foreground = {{ .colors.foreground | trimPrefix "#" }}
split-divider-color = {{ .colors.base02 | trimPrefix "#" }}
