* {
    font: "JetBrainsMono Nerd Font Propo 14";
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    border: 1px;
    border-radius: 8px;
    border-color: {{ .colors.blue }};
    background-color: {{ .colors.background }};
}

mainbox {
    background-color: {{ .colors.background }};
}

inputbar {
    children: [prompt,entry];
    background-color: {{ .colors.blue }};
    padding: 2px;
}

prompt {
    background-color: {{ .colors.blue }};
    padding: 6px;
    text-color: {{ .colors.background }};
    border-radius: 3px;
    margin: 0px 8px;
}

entry {
    padding: 6px;
    margin: 0px 8px;
    text-color: {{ .colors.background }};
    background-color: {{ .colors.blue }};
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

listview {
    border: 0px 0px 0px;
    margin: 6px 10px;
    columns: 1;
    background-color: {{ .colors.background }};
}

element {
    padding: 5px;
    background-color: {{ .colors.background }};
    text-color: {{ .colors.foreground }};
}

element-icon {
    size: 25px;
}

element selected {
    background-color:  transparent;
    text-color: {{ .colors.magenta }};
}

mode-switcher {
    spacing: 0;
  }

button {
    padding: 10px;
    background-color: {{ .colors.background }};
    text-color: {{ .colors.background }};
    vertical-align: 0.5;
    horizontal-align: 0.5;
}

button selected {
  background-color: {{ .colors.background }};
  text-color: {{ .colors.blue }};
}

message {
    background-color: {{ .colors.background }};
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

textbox {
    padding: 6px;
    margin: 20px 0px 0px 20px;
    text-color: {{ .colors.blue }};
    background-color: {{ .colors.background }};
}
