{{- $colorsList := list "tokyonight" "mocha" -}}
{{- $hasHyprland := promptBoolOnce . "hasHyprland" "Does this machine need hyprland" -}}
{{- $isPersonal := promptBoolOnce . "isPersonal" "Is this Machine a Personal PC" -}}
{{- $colorScheme := promptChoiceOnce . "colorScheme" "Color Scheme Choice" $colorsList -}}
{{- $myEmail := "shadkaske@gmail.com" -}}
{{- if not $isPersonal -}}
  {{- $myEmail = "Shad.Kaske@showplacecabinetry.com" -}}
{{- end -}}
[data]
  email = {{ $myEmail | quote }}
  hasHyprland = {{ $hasHyprland }}
  isPersonal = {{ $isPersonal }}
  colorscheme = {{ $colorScheme | quote }}

[git]
  autoCommit = false
  autoPush = false

[merge]
  command = "nvim"
  args = [
      "-d",
      {{ printf "%q" "{{ .Destination }}" }},
      {{ printf "%q" "{{ .Source }}" }},
      {{ printf "%q" "{{ .Target }}" }},
  ]

{{ include (joinPath .chezmoi.sourceDir "helpers/colors/" (printf "%s%s" .colorscheme ".toml")) }}
