{{- $hasHyprland := promptBoolOnce . "hasHyprland" "Does this machine need hyprland" -}}
{{- $isPersonal := promptBoolOnce . "isPersonal" "Is this Machine a Personal PC" -}}
{{- $colorScheme := default "tokyonight" (env "COLORSCHEME") -}}
{{- $myEmail := "shadkaske@gmail.com" -}}
{{- if not $isPersonal -}}
  {{- $myEmail = "Shad.Kaske@showplacecabinetry.com" -}}
{{- end -}}
[data]
  email = {{ $myEmail | quote }}
  hasHyprland = {{ $hasHyprland }}
  isPersonal = {{ $isPersonal }}

[git]
  autoCommit = false
  autoPush = false

[merge]
  command = "nvim"
  args = [
      "-d",
      {{ printf "%q" "{{ .Destination }}" }},
      {{ printf "%q" "{{ .Source }}" }},
      {{ printf "%q" "{{ .Target }}" }},
  ]

{{ include (joinPath .chezmoi.sourceDir "helpers/colors/" (printf "%s%s" $colorScheme ".toml")) }}
