{{- $isPersonal := promptBoolOnce . "isPersonal" "Is this Machine a Personal PC" -}}
{{- $colorScheme := default "ayu" (env "COLORSCHEME") -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $myEmail := "shadkaske@gmail.com" -}}
{{- if not $isPersonal -}}
  {{- $myEmail = "Shad.Kaske@showplacecabinetry.com" -}}
{{- end -}}
[data]
  email = {{ $myEmail | quote }}
  isPersonal = {{ $isPersonal }}
  isWSL = {{ $isWSL }}

[git]
  autoCommit = false
  autoPush = false

[merge]
  command = "nvim"
  args = [
      "-d",
      {{ printf "%q" "{{ .Destination }}" }},
      {{ printf "%q" "{{ .Source }}" }},
      {{ printf "%q" "{{ .Target }}" }},
  ]

{{ include (joinPath .chezmoi.sourceDir "helpers/colors/" (printf "%s%s" $colorScheme ".toml")) }}
