[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/.config/awesome/freedesktop"]
	path = awesome/.config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "shell/.fzf"]
	path = shell/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/.tmux/plugins/tmux-onedark-theme"]
	path = tmux/.tmux/plugins/tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/.tmux/plugins/tmux-tilish"]
	path = tmux/.tmux/plugins/tmux-tilish
	url = https://github.com/jabirali/tmux-tilish
[submodule "tmux/.tmux/plugins/tokyo-night-tmux"]
	path = tmux/.tmux/plugins/tokyo-night-tmux
	url = https://github.com/shadkaske/tokyo-night-tmux
