ncmpcpp/.config/ncmpcpp/error.log
mpd/.config/mpd/state

mpd/.config/mpd/database
mpd/.config/mpd/pid
__pycache__/

qutebrowser/.config/qutebrowser/autoconfig.yml
ranger/.config/ranger/plugins/*

profile-sync-daemon/.config/psd/.psd.conf

bin/.local/bin/bpytop
nvim/.config/nvim/plugin/
share/.local/share/applications/mimeapps.list
kitty/.config/kitty/kitty.conf.bak
gtk/.config/gtk-3.0/bookmarks
tmux/.tmux/plugins/t-smart-tmux-session-manager/
tmux/.tmux/plugins/t-smart-tmux-session-manager/
tmux/.tmux/plugins/catppuccin*
tmux/.tmux/plugins/tmux
tmux/.tmux/plugins/tmux-fzf
ideavim/.config/ideavim/.idea
shell/.config/fish/fish_variables
systemd/.config/systemd/user/default.target.wants
awesome/.config/awesome/freedesktop
awesome/.config/awesome/lain
nginx-proxy-manager/Code/Docker/nginx-proxy-manager/data/logs
nginx-proxy-manager/Code/Docker/nginx-proxy-manager/data/keys.json
kitty/.config/kitty/neighboring_window.py
kitty/.config/kitty/pass_keys.py
kitty/.config/kitty/relative_resize.py
lazygit/.config/lazygit/state.yml
share/.local/share/applications/_usr_lib_dbeaver_.desktop
nginx-proxy-manager/Code/Docker/nginx-proxy-manager/data/database.sqlite
share/.local/share/applications/mimeinfo.cache
share/.local/share/applications/chrome-*-Default.desktop
node_modules
systemd/.config/systemd/user/tmux.service
yarn.lock
