lvim/.config/lvim/plugin/
ncmpcpp/.config/ncmpcpp/error.log
mpd/.config/mpd/state

mpd/.config/mpd/database
mpd/.config/mpd/pid
__pycache__/

qutebrowser/.config/qutebrowser/autoconfig.yml
ranger/.config/ranger/plugins/*

profile-sync-daemon/.config/psd/.psd.conf

bin/.local/bin/bpytop
