{{- if .hasHyprland -}}
if uwsm check may-start; then
  exec uwsm start hyprland-uwsm.desktop
fi
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
# Added by Toolbox App
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
{{ end -}}
