export EDITOR=nvim

export COLOR_SCHEME=tokyonight

export LANG=en_US.UTF-8

{{- if eq .chezmoi.os "linux" }}
export TERMINAL=kitty

export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR"/ssh-agent.socket

# Path Bit
export PATH=$HOME/.local/bin:$PATH

export PATH=$HOME/.local/share/npm/bin:$PATH

export PATH=/snap/node/current/bin:$PATH

export PATH="$HOME/go/bin:$PATH"

export PATH="$PATH:$HOME/.fzf/bin"

export PATH=$HOME/.cargo/bin:$PATH

export PATH=$HOME/.config/composer/vendor/bin:$PATH

export VIRSH_DEFAULT_CONNECT_URI="qemu:///system"

export COMPOSE_MENU=false
{{- end }}

export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export MANROFFOPT="-c"

# Fzf config
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  --highlight-line \
  --info=inline-right \
  --ansi \
  --layout=reverse \
  --border=sharp \
  --color=border:{{ .colors.cyan }} \
  --color=fg:{{ .colors.foreground }} \
  --color=gutter:{{ .colors.black }} \
  --color=header:{{ .colors.yellow }} \
  --color=hl+:{{ .colors.bright_cyan }} \
  --color=hl:{{ .colors.bright_cyan }} \
  --color=info:{{ .colors.bright_black }} \
  --color=marker:{{ .colors.red }} \
  --color=pointer:{{ .colors.red }} \
  --color=prompt:{{ .colors.bright_cyan }} \
  --color=query:{{ .colors.foreground }}:regular \
  --color=scrollbar:{{ .colors.cyan }} \
  --color=separator:{{ .colors.yellow }} \
  --color=spinner:{{ .colors.red }} \
"

export FZF_CTRL_R_OPTS="--border-label='History Search'"
export FZF_ALT_C_OPTS="--border-label='Directory Search'"
export FZF_CTRL_T_OPTS="--border-label='File Search' --preview 'bat {}'"
export FZF_ALT_C_COMMAND='fd --type d --exclude .steam --hidden --follow . "$HOME"'
export FZF_CTRL_T_COMMAND='fd --hidden --type=file --exclude .steam --follow . "$HOME"'
export FZF_DEFAULT_COMMAND='fd --type file --follow --exclude .steam --hidden --color=always'
