@define-color background {{ .colors.background }};
@define-color foreground {{ .colors.foreground }};
@define-color active {{ .colors.blue }};
@define-color inactive {{ .colors.bright_black }};
@define-color urgent {{ .colors.red }};

* {
    border: none;
    min-height: 0;
    font-family: 'Cantarell', 'JetBrainsMono Nerd Font Propo';
    font-size: 14px;
}

window#waybar {
    background-color: @background;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces {
    background-color: transparent;
    color: @foreground;
    margin-left: 8px;
}

#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.empty {
    color: @inactive;
}

#workspaces button.active {
    color: @active;
    font-weight: bold;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    color: @urgent;
}

#submap {
  padding-left: 4px;
  font-weight: bold;
  color: alpha(@urgent, 0.6);
  background-color: transparent;
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-power,
#memory,
#mpd,
#mpris,
#network,
#pulseaudio,
#tray,
#window {
    background-color: transparent;
    color: @foreground
}

#window {
  margin-left: 8px;
    background-color: transparent;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon,
#mpd,
#network,
#pulseaudio,
#bluetooth {
  margin: 0px 16px 0px 0px;
}

#custom-power {
  margin-right: 18px;
  margin-left: 8px;
  color: @active;
}

#bluetooth.disabled,
#bluetooth.off {
    color: @inactive;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: @active;
}

