/*
*
* Tokyo Night Pallet
*
*/


@define-color background #1a1b26;
@define-color foreground #c0caf5;
@define-color active #7dcfff;
@define-color inactive #545c7e;
@define-color accent #bb9af7;
@define-color urgent #f7768e;
