window-padding-x = 4
window-padding-y = 6

font-family = "JetBrainsMono Nerd Font Mono"
font-style = "Light"
font-style-bold = "SemiBold"
font-style-italic = "Light Italic"
font-style-bold-italic = "Light Bold Italic"
{{ if eq .chezmoi.os "darwin" -}}
font-size = 16

quick-terminal-position = top
quick-terminal-size = 40%,70%
quick-terminal-screen = mouse

keybind = global:cmd+semicolon=toggle_quick_terminal
keybind = cmd+l=clear_screen
keybind = cmd+shift+h=goto_split:left
keybind = cmd+shift+j=goto_split:bottom
keybind = cmd+shift+k=goto_split:top
keybind = cmd+shift+l=goto_split:right
{{ else -}}
font-size = 12
keybind = ctrl+shift+d=toggle_window_decorations
keybind = ctrl+shift+l=clear_screen
{{ end -}}

confirm-close-surface = false

theme = theme.conf

term=xterm-256color

command = /bin/zsh
shell-integration = detect

