window-padding-x = 4
window-padding-y = 6

font-family = "JetBrainsMono Nerd Font Mono"
font-family-bold = "JetBrainsMono Nerd Font Mono Bold"
font-family-italic = "JetBrainsMono Nerd Font Mono Italic"
font-family-bold-italic = "JetBrainsMono Nerd Font Mono Bold Italic"
{{ if eq .chezmoi.os "darwin" -}}
font-size = 16

quick-terminal-position = top
quick-terminal-size = 40%,70%
quick-terminal-screen = mouse

keybind = global:cmd+apostrophe=toggle_quick_terminal
{{ else -}}
font-size = 12
{{ end -}}

confirm-close-surface = false

theme = theme.conf

term=xterm-256color

command = /bin/zsh
shell-integration = detect

keybind = ctrl+shift+l=clear_screen
keybind = ctrl+shift+d=toggle_window_decorations
