polkit.addRule(function(action, subject)) {
  if ((action.id.includes("org.coolero.Coolero")) && subject.isInGroup("wheel")) {
    return polkit.Result.YES;
  }
}
