font_family      family='JetBrainsMono Nerd Font Mono' style=Light
bold_font        family='JetBrainsMono Nerd Font Mono' postscript_name=JetBrainsMonoNFM-SemiBold
italic_font      family='JetBrainsMono Nerd Font Mono' postscript_name=JetBrainsMonoNFM-LightItalic
bold_italic_font family='JetBrainsMono Nerd Font Mono' postscript_name=JetBrainsMonoNFM-SemiBoldItalic
font_size        12.0

modify_font cell_height 3px

# background_opacity  0.92

enable_audio_bell    no

copy_on_select       yes

hide_window_decorations yes

shell_integration enabled no-prompt-mark no-title

remember_window_size no
initial_window_width 124c
initial_window_height 32c
placement_strategy center

strip_trailing_spaces smart

confirm_os_window_close 0

window_padding_width 4

sync_to_monitor yes

allow_remote_control yes
listen_on unix:@mykitty

tab_bar_min_tabs            2
tab_bar_edge                top
tab_bar_style               powerline
tab_powerline_style         round
tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}{tab.last_focused_progress_percent}{index} - {title}"

background {{ .colors.background }}
foreground {{ .colors.foreground }}
selection_background {{ .colors.bright_black }}
selection_foreground {{ .colors.foreground }}
url_color {{ .colors.bright_cyan }}
cursor {{ .colors.foreground }}
cursor_text_color {{ .colors.black }}

# Tabs
active_tab_background {{ .colors.blue }}
active_tab_foreground {{ .colors.black }}
inactive_tab_background {{ .colors.bright_black }}
inactive_tab_foreground {{ .colors.white }}

# Windows
active_border_color {{ .colors.blue }}
inactive_border_color {{ .colors.bright_black }}

# normal
color0 {{ .colors.background }}
color1 {{ .colors.red }}
color2 {{ .colors.green }}
color3 {{ .colors.yellow }}
color4 {{ .colors.blue }}
color5 {{ .colors.magenta }}
color6 {{ .colors.cyan }}
color7 {{ .colors.white }}

# bright
color8 {{ .colors.bright_black }}
color9 {{ .colors.bright_red }}
color10 {{ .colors.bright_green }}
color11 {{ .colors.bright_yellow }}
color12 {{ .colors.bright_blue }}
color13 {{ .colors.bright_magenta }}
color14 {{ .colors.bright_cyan }}
color15 {{ .colors.foreground }}

# extended colors
color16 {{ .colors.extended_16 }}
color17 {{ .colors.extended_17 }}

# Keymaps
map ctrl+shift+t launch --cwd=current --type=tab
# Multiplexer Bits
# map alt+enter new_window_with_cwd
map ctrl+shift+s launch --cwd=current --location=vsplit
# map alt+t new_tab_with_cwd
# map ctrl+j neighboring_window down
# map ctrl+k neighboring_window up
# map ctrl+h neighboring_window left
# map ctrl+l neighboring_window right
# map --when-focus-on var:IS_NVIM ctrl+j
# map --when-focus-on var:IS_NVIM ctrl+k
# map --when-focus-on var:IS_NVIM ctrl+h
# map --when-focus-on var:IS_NVIM ctrl+l
# map alt+j kitten relative_resize.py down  3
# map alt+k kitten relative_resize.py up    3
# map alt+h kitten relative_resize.py left  3
# map alt+l kitten relative_resize.py right 3
# map --when-focus-on var:IS_NVIM alt+j
# map --when-focus-on var:IS_NVIM alt+k
# map --when-focus-on var:IS_NVIM alt+h
# map --when-focus-on var:IS_NVIM alt+l
# map alt+z goto_layout stack
# map alt+x last_used_layout
# map ctrl+a>t launch --type=window --cwd=current ./vendor/bin/sail tinker
# map ctrl+a>s launch --allow-remote-control --type=overlay --title='*SSH*' kitty_ssh_overlay.sh
# map ctrl+a>l launch --allow-remote-control --type=overlay --title='*Layout*' kitty_layout_overlay.sh
# map ctrl+a>k launch --allow-remote-control --type=overlay --title='*Session*' kitty_session_overlay.sh
# map ctrl+a>e launch --type=tab --cwd=current yazi

# Go to tab
# map alt+1 goto_tab 1
# map alt+2 goto_tab 2
# map alt+3 goto_tab 3
# map alt+4 goto_tab 4
# map alt+5 goto_tab 5
# map alt+6 goto_tab 6
# map alt+7 goto_tab 7
# map alt+8 goto_tab 8
# map alt+9 goto_tab 9

# vim:ft=kitty
