[Desktop Entry]
Name=iForms Designer
Comment=iForms Design App
Exec=/home/shadkaske/.local/bin/iforms
Icon=/home/shadkaske/.local/share/icons/helpsystems.png
Terminal=false
Type=Application
Categories=Development
