[Desktop Entry]
Name=iForms Designer
Comment=iForms Design App
Exec=/home/shad/.local/bin/iforms
Icon=/home/shad/.local/share/icons/helpsystems.png
Terminal=false
Type=Application
Categories=Development
