[Desktop Entry]
Name=Frontier
Exec=flatpak run --command=bottles-cli com.usebottles.bottles run -p acslaunch_win-64 -b 'IBM iAccess' -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/shadkaske/.var/app/com.usebottles.bottles/data/bottles/bottles/IBM-iAccess/icons/acslaunch_win-64.png
Comment=Launch acslaunch_win-64 using Bottles.
StartupWMClass=acslaunch_win-64
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=flatpak run com.usebottles.bottles -b 'IBM iAccess'
