#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Monday.com
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://showplacecabinetry-team.monday.com/boards/1284644165
Icon=chrome-pfkamolmijmkodhhjednmhmmhlgfbnof-Default
StartupWMClass=crx_pfkamolmijmkodhhjednmhmmhlgfbnof
