configuration {
    modi: "window,drun,run,ssh,combi";
    location: 0;
    /* yoffset: 24; */
    font: "JetBrainsMono Nerd Font 12";
    terminal: "kitty";
    matching: "fuzzy";
    display-ssh:    "  " ;
    display-run:    "  " ;
    display-drun:   "  " ;
    display-window: "  " ;
    display-combi:  "  " ;
    show-icons:     true;
}

/* @theme "Arc-Dark" */

/* vi: ft=css */
@import "/usr/share/rofi/themes/Arc-Dark.rasi"
