---
gui:
  nerdFontsVersion: "3"
  showRandomTip: false
  theme:
    activeBorderColor:
      - "{{ .colors.extended_16 }}"
      - "bold"
    inactiveBorderColor:
      - "{{ .colors.base0D }}"
    searchingActiveBorderColor:
      - "{{ .colors.extended_16 }}"
      - "bold"
    optionsTextColor:
      - "{{ .colors.blue }}"
    selectedLineBgColor:
      - "{{ .colors.base02 }}"
    cherryPickedCommitFgColor:
      - "{{ .colors.blue }}"
    cherryPickedCommitBgColor:
      - "{{ .colors.magenta }}"
    markedBaseCommitFgColor:
      - "{{ .colors.blue }}"
    markedBaseCommitBgColor:
      - "{{ .colors.yellow }}"
    unstagedChangesColor:
      - "{{ .colors.extended_17 }}"
    defaultFgColor:
      - "{{ .colors.foreground }}"
