[Desktop Entry]
Exec=/home/kaskshad/.local/bin/rofi-virtmanager
Name=VirtLauncher
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
