[Desktop Entry]
Exec=kitty --class musicplayer -e ncmpcpp
Name=MusicPlayer
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
