[Desktop Entry]
Exec=rofi-tmux-sessions
Name=Rofi Tmux Selector
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
