[Desktop Entry]
Exec=google-chrome --app="https://bitbucket.org/showplacecabinetry/workspace/overview/"
Name=Bitbucket
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
