## name: Tokyo Night
## license: MIT
## author: Folke Lemaitre
## upstream: https://github.com/folke/tokyonight.nvim/raw/main/extras/kitty/tokyonight_night.conf

background {{ .colors.tokyonight.background }}
foreground {{ .colors.tokyonight.foreground }}
selection_background {{ .colors.tokyonight.bright_black }}
selection_foreground {{ .colors.tokyonight.foreground }}
url_color {{ .colors.tokyonight.bright_cyan }}
cursor {{ .colors.tokyonight.foreground }}
cursor_text_color {{ .colors.tokyonight.black }}

# Tabs
active_tab_background {{ .colors.tokyonight.blue }}
active_tab_foreground {{ .colors.tokyonight.black }}
inactive_tab_background {{ .colors.tokyonight.bright_black }}
inactive_tab_foreground {{ .colors.tokyonight.bright_black }}

# Windows
active_border_color {{ .colors.tokyonight.blue }}
inactive_border_color {{ .colors.tokyonight.bright_black }}

# normal
color0 {{ .colors.tokyonight.background }}
color1 {{ .colors.tokyonight.red }}
color2 {{ .colors.tokyonight.green }}
color3 {{ .colors.tokyonight.yellow }}
color4 {{ .colors.tokyonight.blue }}
color5 {{ .colors.tokyonight.magenta }}
color6 {{ .colors.tokyonight.cyan }}
color7 {{ .colors.tokyonight.white }}

# bright
color8 {{ .colors.tokyonight.bright_black }}
color9 {{ .colors.tokyonight.bright_red }}
color10 {{ .colors.tokyonight.bright_green }}
color11 {{ .colors.tokyonight.bright_yellow }}
color12 {{ .colors.tokyonight.bright_blue }}
color13 {{ .colors.tokyonight.bright_magenta }}
color14 {{ .colors.tokyonight.bright_cyan }}
color15 {{ .colors.tokyonight.foreground }}

# extended colors
color16 {{ .colors.tokyonight.extended_16 }}
color17 {{ .colors.tokyonight.extended_17 }}
