#!/bin/bash

export PATH=$HOME/.local/bin:$PATH

export QT_STYLE_OVERRIDE=kvantum

export TERMINAL=kitty

export MANPAGER="sh -c 'col -bx | bat -l man -p'"

setxkbmap -option ctrl:nocaps &

eval $(gnome-keyring-daemon --start)

export SSH_AUTH_SOCK

# vi: ft=sh
