#!/bin/bash

export PATH=$HOME/.local/bin:$PATH

export QT_STYLE_OVERRIDE=kvantum

export TERMINAL=kitty

export MANPAGER="sh -c 'col -bx | bat -l man -p'"

setxkbmap -option ctrl:nocaps &

# xset s 900 1800 &

# xautolock -time 10 -locker "betterlockscreen -l dimblur" &

greenclip daemon &

# unclutter -idle 5 &

# volumeicon &

# nm-applet &

# lxpolkit &

# lxsession &

# dunst &

# udiskie &

# picom &

# source ~/.fehbg

# xrdb -merge ~/.Xresources &

# vi: ft=sh
