#!/bin/bash

export PATH=$HOME/.local/bin:$PATH

export QT_STYLE_OVERRIDE=kvantum

export TERMINAL=kitty

export MANPAGER="sh -c 'col -bx | bat -l man -p'"

setxkbmap -option ctrl:nocaps &

# xinput set-prop "PNP0C50:00 2808:0101 Touchpad" 340 1

eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

# vi: ft=sh
