[Desktop Entry]
Name=Nordish
X-KDE-PluginInfo-Name=Nordish
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv3
