[general]
; The reaper thread will check every 5 seconds for exited clients, for config file changes, and for the CPU/iGPU power balance
reaper_freq=5

; The desired governor is used when entering GameMode instead of "performance"
desiredgov=performance
; The default governor is used when leaving GameMode instead of restoring the original value
;defaultgov=powersave

; No iGPU on this machine (Ryzen 7 5800X), so iGPU checking is disabled.
igpu_power_threshold=-1

; GameMode can change the scheduler policy to SCHED_ISO on kernels which support it (currently
; not supported by upstream kernels). Can be set to "auto", "on" or "off". "auto" will enable
; with 4 or more CPU cores. "on" will always enable. Defaults to "off".
softrealtime=off

; GameMode can renice game processes. You can put any value between 0 and 20 here, the value
; will be negated and applied as a nice value (0 means no change). Defaults to 0.
; Left at 0: ananicy-cpp (CachyOS rules) already manages process priorities.
renice=0

; By default, GameMode adjusts the iopriority of clients to BE/0, you can put any value
; between 0 and 7 here (with 0 being highest priority), or one of the special values
; "off" (to disable) or "reset" (to restore Linux default behavior based on CPU priority),
; currently, only the best-effort class is supported thus you cannot set it here
; Off: ananicy-cpp (CachyOS rules) already sets I/O priorities, and gamemode
; skips clients whose ioprio it didn't expect anyway.
ioprio=off

; Sets whether gamemode will inhibit the screensaver when active
; Defaults to 1
inhibit_screensaver=1

; CachyOS already sets kernel.split_lock_mitigate=0, so don't try to toggle it.
disable_splitlock=0

[filter]
; If "whitelist" entry has a value(s)
; gamemode will reject anything not in the whitelist
;whitelist=RiseOfTheTombRaider

; Gamemode will always reject anything in the blacklist
;blacklist=HalfLife3
;    glxgears

; [gpu] options are only honoured from /etc/gamemode.ini; they are installed
; there by Ansible (workstation-setup, gaming role).

[supervisor]
; This section controls the new gamemode functions gamemode_request_start_for and gamemode_request_end_for
; The whilelist and blacklist control which supervisor programs are allowed to make the above requests
;supervisor_whitelist=
;supervisor_blacklist=

; In case you want to allow a supervisor to take full control of gamemode, this option can be set
; This will only allow gamemode clients to be registered by using the above functions by a supervisor client
;require_supervisor=0

[custom]
; Custom scripts (executed using the shell) when gamemode starts and ends
start=notify-send "GameMode started" --expire-time=1500
    {{ .chezmoi.homeDir }}/.local/bin/gamemode_script start

end={{ .chezmoi.homeDir }}/.local/bin/gamemode_script end
    notify-send "GameMode ended" --expire-time=1500

; Timeout for scripts (seconds). Scripts will be killed if they do not complete within this time.
script_timeout=10
