# See https://wiki.hyprland.org/Configuring/Variables/ for more
general {
    gaps_in = 8
    gaps_out = 8
    border_size = 1
    col.active_border = rgb({{ .colors.cyan | trimPrefix "#" }})
    col.inactive_border = rgb({{ .colors.base01 | trimPrefix "#" }})
    layout = master
    resize_on_border = true
}
